.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 199, 199, 0.15);
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

